@using MudBlazor
@inject IDialogService DialogService

<div>
    <div style="display:flex; padding: 10px; width: fit-content; margin: 10px auto;">
        <div>
            <label>Wybierz markę samochodu</label>
            <select class="form-control" @onchange="@SelectBrand" style="width:250px;">
                <option value="" selected disabled>Wybierz markę samochodu</option>
                    @foreach (var item in InitBrands)
                    {
                            <option value=@item.Id>@item.Name</option>
                    }
            </select>
        </div>


        @if(selectedBrand != null){
        <div>
            <label>Wybierz model samochodu</label>
            <select class="form-control" @bind="@selectedModelName" style="width:150px">
                    @foreach (var item in InitModels)
                    {
                            <option value=@item.ModelName>@item.ModelName</option>
                    }
                </select> 
        </div>
        }

        <div class="comp">
            <label>Podaj rok produkcji samochodu</label>
            <MudNumericField @bind-Value="year" Variant="Variant.Text" Min="2004" Max="2023" />
        </div>
            
        <div class="comp">
            <label>Podaj cenę najmu (zł/doba)</label>
            <MudNumericField @bind-Value="price" Variant="Variant.Text" Min="0"/>
        </div>
    </div>

    <div style="width: fit-content; margin: 10px auto; ">
        <MudButton Disabled="buttonDisabled" class="button1" OnClick="@HandleClick" Variant="Variant.Filled" Color="Color.Primary">Dodaj samochód</MudButton>
    </div>

</div>


@code{
    [Parameter] public EventCallback checkState{get;set;}
    [Inject] ICarBrandService _brandService { get; set; } = default!;
    [Inject] ICarService _carService { get; set; } = default!;
    public List<Brand> InitBrands {get; set;} = new List<Brand>();
    public List<Model> InitModels {get; set;} = new List<Model>();
    private Guid selectedBrandId;
    public string selectedModelName { get; set; }
    public int year { get; set; } = 2004;
    public double price { get; set; } = 0;
    private bool buttonDisabled = true;
    public Brand selectedBrand { get; set; }

    protected override void OnInitialized()
    {
        InitBrands = _brandService.GetAllBrands(); 
        selectedBrandId = InitBrands.ElementAt(0).Id;
    }

    private void SelectBrand(ChangeEventArgs e)
    {
        var selection = e.Value.ToString();
        if(selection != null){
            selectedBrandId = Guid.Parse(selection);
            selectedBrand = InitBrands.FirstOrDefault(c=>c.Id == selectedBrandId);
            if(selectedBrand != null){
                InitModels = _brandService.GetModelsById(selectedBrandId);
                selectedModelName = InitModels.ElementAt(0).ModelName;
            }
        }
        buttonDisabled = false;
    }

    private async void HandleClick()
    {
        await _carService.AddCar(new Car{
            Brand = selectedBrand.Name,
            Model = selectedModelName,
            Year = year,
            Price = price,
        });
        await checkState.InvokeAsync();
    }

    

}